* {
    margin: 0 auto;
}

.main {
    font-family: 'Raleway';
}

.awesome,.pricing,.container{
    width: 1170px;
}
.main__title{
   font-size: 36px; 
   font-weight: 400;
   text-align: center;
   line-height : 150px;
}

.main-awesome{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.section-item__title {
   font-family: 'Open Sans';
   font-size: 24px; 
   font-weight: 700;
   width: 369px;
   line-height: 100px;
   margin-bottom: 8px;
}

.section-item__description{
    font-size: 18px; 
    font-weight: 400;
}