.main-awesome{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.section-item__title {
   font-family: 'Open Sans';
   font-size: 24px; 
   font-weight: 700;
   width: 369px;
   line-height: 100px;
   margin-bottom: 8px;
}

.section-item__description{
    font-family: 'Raleway';
    font-size: 18px; 
    font-weight: 400;
}