.awesome{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.section-item__title{
   font-family: 'Open Sans';
   font-size: 24px; 
   font-weight: 700;
   width: 369px;
   line-height: 100px;
   margin-bottom: 8px;
}

.section-item__description{
    font-family: 'Raleway';
    font-size: 18px; 
    font-weight: 400;
}

.section-item{
    margin: 0;
}

@media (max-width: 1170px){
    .container_awesome{
        width: 95%;
    }
    .section-item,.section-item__title {
        width: 215px;
    }
    .section-item__title{
        font-size: 18px; 
     }
     
     .section-item__description{
         font-size: 14px; 
     }
}

@media (max-width:700px){
    .awesome{
        flex-wrap: wrap;
        display: inline-flex;
        justify-content: center;
    }
    .section-item{
        padding: 15px;
    }
}