*{
    margin: 0 auto;
}

.container{
    width: 1170px;
    padding: 50px 0;
}

.main{
    padding-top: 80px;
}

.container-header__title{
    font-family: 'Raleway';
   font-size: 36px; 
   font-weight: 400;
   text-align: center;
   line-height : 150px;
}

.container-header__subheading{
    font-family: 'Raleway';
    font-size: 18px; 
    font-weight: 400;
    text-align: center;
    color: #86878B;
    margin-bottom: 71px;
 }

.container-header__separator{
    width: 170px;
    border: .5px solid #EC7979 ;
    margin-bottom: 40px;
}