.contact-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact-left{
    margin: 0;
}

.contact-left__input{
    display: flex;
    width: 571px;
    margin-bottom: 50px;
    padding-bottom: 16px;
    border: 0;  
    border-bottom: 1px solid #BDBDBD;
    color: rgb(71, 71, 71);
    font-family: 'Open Sans';
    font-size: 14px;
}

.contact-left__input:last-child{
    margin-bottom: 0;
}

.contact-right{
    margin: 0;
}

.contact-right__message{
    resize: none;
    width: 569px;
    height: 206px;
    border: 0;  
    border-bottom: 1px solid #BDBDBD;
    color: rgb(71, 71, 71);
    font-family: 'Open Sans';
    font-size: 14px;
}

.contact-form__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC7979;
    width: 370px;
    height: 58px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    border: 0;
}

@media (max-width:1170px){
    .contact-left,.contact-righ,.contact-left__input,.contact-right__message{
    width: 450px;
    }
    .contact-form__button{
        width: 320px;
    }
}

@media (max-width: 960px){
    .contact-left,.contact-righ,.contact-left__input,.contact-right__message{
        width: 300px;
        }
        .contact-form__button{
            width: 280px;
        }
}

@media (max-width:650px){
    .contact-left,.contact-righ,.contact-left__input,.contact-right__message{
        width: 260px;
    }
    .contact-section{
        display: block;
    }
    .contact-form,.contact-form__button{
        width: 255px;
    }
    .contact-right__message{
        margin-right: 0;
    }
}