.header{
    background: rgba(0, 0, 0, 1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.container_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-logo{
    margin: 0;
    display: flex;
}

.nav{
    display: flex;
    margin: 0;
}

.nav__link{
    text-decoration: none;
    width: 114px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
}

.nav__burger{
    display: none;
}

@media (max-width: 1170px){
    .container_header{
        width: 95%;
    }
}

@media (max-width:760px){
    .nav__link{
        display: none;
    }
    .nav__burger{
        display: flex;
        padding-right: 10px;
    }
    .logo__img{
        padding-left: 10px;
    }
}