.container_social{
    width: 1170px;
}

.media{
    width: 100%;
    background: #F8EFEF;
}

.social{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.social-left{
    margin: 0;
}

.social-left__title{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 18px;
}

.social-left__caption{
    color: #86878B;
    font-family: 'Raleway';
    font-size: 18px;
}

.social-right{
    display: flex;
    align-items: center;
    width: 670px;
    margin: 0;
}

.social-right__img{
    width: 70px;
    height: 70px;
}
.social-right__img_small{
    display: none;
}
/* max-width:1190px уберет скролл*/
@media (max-width:1170px){
    .container_social{
        width: 95%;
    }
    .social-left__title{
        font-size: 18px;
        padding-bottom: 13px;
    }
    
    .social-left__caption{
        font-size: 14px;
    }
}

@media (max-width:660px){
    .social{
        display: block;
        text-align: center;
    }
    .social-right__img_small{
        display: inline-block;
    }
    .social-right__img{
        display: none;
    }
    .social-left__caption{
        padding-bottom: 30px;
    }
    .social-right{
        display: inline;
    }
    .social-right__link{
        text-decoration: none;
    }
}