.pricing-bg{
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 50px;
    padding-bottom: 50px;
}

.price-list{
    display: flex;
    justify-content: space-between;
}

.price-item{
    align-self: flex-end;
    cursor: pointer;
}

.price-item_hover:hover{
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
    transform: translateY(-20px);
    transition: 0.8s;
}

.price-item__title{
    display: flex;
    width: 370px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    background-color: #333;
    border: 2px solid #F5F5F5;
    text-transform: capitalize;
}

.price-item__price{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 700;
    background-color: #333;
    border: 2px solid #F5F5F5;
}

.price-item__duration{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    background-color: #333;
    border: 2px solid #F5F5F5;
}

.price-item__info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 2px solid #F5F5F5;
    background: #FFF;
    color: #86878B;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}