.tab-list{
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}

.tab-item__button{
    font-family: 'Open Sans';
    font-size: 14px;
    display: flex;
    width: 184px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: white;
    border-bottom: 1px solid #C6CBCD;
}

.tab-item__button-active{
    display: flex;
    width: 203px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    border-bottom: 0;
}

li:last-child{
    width: calc(100% - 571px);
    border-bottom: 1px solid #C6CBCD;
}

.tab-block{
    display: inline-flex;
    border: 1px solid #C6CBCD;
    border-top: 0;
}

.block-left{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
}

.block-left__caption{
    margin: 0;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
}

.block-left__text{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}

.block-left__button{
    margin: 0;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    border: 0;
}

.block-left__button_hover:hover{
    background: #AB4949;
}

.block-left__button_active:active{
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.block-right{
    display: inline-flex;
}

.block-right__statue_little{
    display: none;
}

@media (max-width:1180px){
    .tab-block,.tab-list{
        width: 95%;
    }
    .block-left__caption{
        font-size: 24px;
    }
    .block-left__text{
        font-size: 14px;
    }
    .block-left{
        margin-left: 20px;
    }
    .block-left__button{
        width: 240px;
    }    
    .block-right__statue_little{
        display: flex;
    }
    .block-right__statue{
        display: none;
    }
}

@media (max-width:730px){
    .block-left{
        margin-left: none;
    }
    .block-left__caption{
        font-size: 18px;
    }
    .block-left__text{
        font-size: 13px;
    }
    .block-left__button{
        width: 210px;
    }  
    .block-right__statue{
        display: none;
    }
    li:last-child{
        display: none;
    }
    .tab-item__button{
        width: 100%;
    }
    .block-right__statue_little{
        display: none;
    }
}